#sidebar-first {
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
}

#sidebar-first h2 {
  font-weight:100;
  color: #980000;
  border-bottom: 1px solid #ddd;
}

#sidebar-first ul {
  list-item-style: none;
}

#sidebar-first ul li {
  font-weight:200;
  color: #555;
}