body {
  font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #555;
}

#main-content {
  border-left: 1px solid #ddd;
}

#main-content h1 {
  font-weight:100;
  border-bottom: 1px solid #ddd;
}

#sidebar-first h2 {
  font-weight:100;
  color: #980000;
  border-bottom: 1px solid #ddd;
}

#sidebar-first ul {
  list-style-type: none;
}

#sidebar-first ul li {
  font-weight:200;
}